body {
    margin: auto;
    max-width: 1170px;
    height: 200px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-top: 25px;
}
button {
    margin: 5px 0px
}
h1 {
    font-size: 2.5em;
    margin: 0;
}
h2 {
    font-size: 1em;
    margin: 0px;
}
h3 {
    font-size: 1.5em;
}
.banner {
    background-color: #ecd29c; 
    padding: 50px 50px 75px;
}
.content {
    border-left: 3px solid #f9e1b1;
    border-right: 3px solid #f9e1b1;
    border-bottom: 3px solid #f9e1b1;
    padding: 15px 30px 20px;
    margin-bottom: 50px;
    /*margin: 15px 30px 50px;*/
}
.error_message {
    color: red;
    size: 1.5em;
}
.header {
    margin: 10px 0px 5px;
    height: 1em;
}
.login {  
    float: right;
}
.message {
    display: flex;
    border:2px solid #cbcbcb;
    margin-top: 5px;
    border-radius: 5px;
}
.messages {

}
.message-header {
    font-size: 0.8em;
    color: #cbcbcb;
    height: 24px;
}
.message-header button {
    float: right;
}
.message-left {
    background-color: #ededed;
    width: 170px;
    padding-top: 25px;
    text-align: center;
    border-right: 2px solid #cbcbcb;
    flex-shrink: 0;
}
.message-right {
    flex-grow: 1;
    padding: 8px 10px;
}
.message-right hr {
    color: #cbcbcb;
    border-style: none none dotted;
}
.message-right p {
    white-space: pre-line;
}
.message-time {
    padding-top: 5px;
}
.path {
    border-left: 3px solid #f9e1b1;
    border-right: 3px solid #f9e1b1;
    padding: 15px 30px 15px;
}
.settings {    
    float: left;
}
table {
    table-layout: auto;
    width: 100%;
    overflow: hidden;
}
tr.topic-heading {
    background-color: #67593f;
    height: 36px;
    size: 12px;
}
.topics tr td li {
    
}
.topics tr td {
    border: 1px solid #cbcbcb;
    margin: 2px;
}
#bottom_button {
    margin-top: 17px;
}

