/*  LAYOUT */
body {
    margin: auto;
    max-width: 1170px;
    height: 200px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-top: 25px;
    word-break: break-word;
}
.header {
    margin: 10px 0px 5px;
    height: 1em;
}
.settings {
    float: left;
}
.login {
    float: right;
}
.banner {
    background-color: #ecd29c; 
    padding: 50px 50px 75px;
}
.search {
    display: flex;
    float: right;
    padding: 15px 30px 15px;
}
.path {
    border-left: 3px solid #f9e1b1;
    border-right: 3px solid #f9e1b1;
    padding: 15px 30px 15px;
}
.content {
    border-left: 3px solid #f9e1b1;
    border-right: 3px solid #f9e1b1;
    border-bottom: 3px solid #f9e1b1;
    padding: 30px 30px 20px;
    margin-bottom: 50px;
}
.nav {
    border-left: 3px solid #f9e1b1;
    border-right: 3px solid #f9e1b1;
    padding-left: 30px;
}


/*  HEADINGS */
h1 { 
    font-size: 2.5em;
    margin: 0;
}
h2 {
    font-size: 1em;
    margin: 0px;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.3em;
    margin-top: 0;
}
h5 {
    font-size: 1em;
    margin-top: 40px;
    margin-bottom: 20px;
}


/*  TABLES AND LISTS */
table {
    border-collapse: collapse;
}
ul {
    list-style-type: none; 
    padding-left: 0;
}
.latest-post {
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    word-break: normal;
    text-overflow: ellipsis;
    text-align: center;
}
.latest-sender {
    text-align: center;
}
.table100 {
    table-layout: auto;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
tr.topic-row:nth-child(odd){
    background-color: #f4f4f4;
}
tr.heading-row {
    background-color: #67593f;
    height: 36px;
    size: 12px;
}
.sender {
    color: #3c3c3c
}
.time {
    font-size: 0.8em;
    color: #3c3c3c
}
.center {
    text-align: center;
}
.small-padding {
    padding-left: 1em;
}


/*  LINKS */
a {
    text-decoration: none;
    color: #3d78b4;
}
.subforum_link {
    font-size: 1.25em;
    font-weight: bold;
    padding-left: 1em;
}
.settings-link {
    float: right;
}


/*  TOPIC PAGE */
.message {
    display: flex;
    border:2px solid #cbcbcb;
    margin-top: 5px;
    border-radius: 5px;
}
.message-left {
    background-color: #ededed;
    width: 170px;
    padding-top: 25px;
    text-align: center;
    border-right: 2px solid #cbcbcb;
    flex-shrink: 0;
}
.message-right {
    flex-grow: 1;
    padding: 8px 10px;
}
.message-right hr {
    color: #cbcbcb;
    border-style: none none dotted;
}
.message-right p {
    white-space: pre-line;
}
.edit_message {
    float: right;
}
.write_message {
    margin-top: 30px;
}
.new_message {
    margin-top: 15px;
}
button {
    margin: 5px 0px
}
.delete_button {
    bottom: 0;
}
.message-header {
    font-size: 0.8em;
    color: #cbcbcb;
    height: 24px;
}
.message-header button {
    float: right;
}
.message-time {
    padding-top: 5px;
}


/* EVERYTHING ELSE */
.heading1 {
    font-weight: bold;
    font-size: 1.5em;
}
.heading2 {
    font-weight: bold;
    font-size: 1em;
}
.setting_name {
    background-color: #ecd29c; 
    padding: 15px 15px 30px;
}
.error_message {
    color: red;
    size: 1.5em;
}
.settings_page {
    display: flex;
}
.forum_settings {
    flex: auto;
    padding-left: 40px;
}
.forum_structure {
    flex: auto;
    padding: 0px 30px 20px 30px;
}
.hint {
    color:red;
    font-size: 0.7em;
}
.search button { 
    margin-top: 0px;
    margin-left: 5px;
}
.search-header {
    font-weight: bold;
}
.bottom_button {
    margin-top: 20px;
}

