{% extends "layout.html" %}

{% block search %}
<form action="/result" method="GET">
    <input type="text" name="query" placeholder="etsi viesteistä">
    <input type="submit" value="Etsi">
</form>
<a href="/search"><button class="advanced_search">Haku</button></a>
{% endblock %}

{% block content %}
<div>
    {% for heading, subforums in subforum_order.items() %}
    <div>
        <table>
            <tr class="topic-heading">
                <th style="width:65%;">{{ heading }}</th>
                <th style="width:13%">TILASTOT</th>
                <th style="width:22%">UUSIN VIESTI</th>
            </tr>
            {% if subforums %}
            {% for subforum in subforums %}
            <tr>
                <td><a href="/subforum/{{subforum[0]}}">{{subforum[1]}}</a></td>
                <td>
                    <ul>
                        <li>Aiheet: {{subforum[2]}}</li>
                        <li>Viestit: {{subforum[3]}}</li>
                    </ul>
                </td>
                <td>
                    {% if subforum[4] %}
                    <ul>
                        <li>{{subforum[4]}}</li>
                        <li> {{subforum[6].strftime("%d.%m.%Y %H:%M")}} {{subforum[5]}}</li>
                    </ul>
                    {% else %}
                    Ei viestejä
                    {% endif %}
                </td>
            {% endfor %}
            {% endif %}
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}
