{% extends "layout.html" %}

{% block content %}
    {% if message %}
        <span class="error_message"> {{message}}</span>
    {% endif %}
    
    <h4>Kirjaudu sisään:</h4>
    <form action="/login" method="POST">
        <table>
            <tr>
                <td style="width:110px">Tunnus:</td>
                <td><input type="text" name="username" required="required" minlength="1"></td>
            </tr>
            <tr>
                <td>Salasana: </td>
                <td><input type="password" name="password" required="required" minlength="1"></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Kirjaudu">
    </form>
    <br>
    <p>Tai rekisteröidy <a href="/register">täällä</a>.</p>
{% endblock %}
