{% extends "layout.html" %}

{% block content %}
{% if session.get('username')%}
<h5>Uusi viesti keskusteluun {{ topic[0] }}</h5>
Viesti:
<form action="/topic/{{ topic[1] }}/new_message/send" method="POST">
    <textarea name="message", rows="15", cols="100" required="required" minlength="1" maxlength="5000"></textarea>
    <input type="hidden" name="topic_id" value="{{ topic[1] }}">
    <br>
    <input type="submit" value="Lähetä">
</form>

{% else %}
<p>
    Kirjaudu sisään lähettääksesi viestejä:
    <form action="/topic/{{topic[1]}}/new_message/send" method="POST">
        Tunnus: <input type="text" name="username" required="required" minlength="1"><br>
        Salasana: <input type="password" name="password" required="required" minlength="1"><br>
        <input type="hidden" name="topic_id" value="{{ topic[1] }}">
        <input type="submit" value="Kirjaudu">
    </form>
</p>
{% endif %}
<p><a href="/topic/{{ topic[1] }}"> Takaisin keskusteluun </a></p>
{% endblock %}