{% extends "layout.html" %}

{% block path %} <a href="/">Etusivu</a> / <a href="/register">Rekisteröidy</a>{% endblock %}
{% block content %}

{% if message %}
<p>{{message}}</p>
{% endif %}

<p>
<h3>Rekisteröidy:</h3>
<form action="/register" method="POST">
    Käyttäjätunnus: <input type="text" name="username"><br>
    Salasana: <input type="password" name="password1"><br>
    Salasana uudelleen: <input type="password" name="password2"><br>
    <input type="submit" value="Rekisteröidy">
</form>
</p>
<p>Tai kirjaudu sisään <a href="/login">täältä</a>.</p>

<a href="/">Etusivu</a>
{% endblock %}