{% extends "layout.html" %}

{% block search %}
<form action="/subforum/{{ subforum[1] }}/result" method="GET">
    <input type="text" name="word" placeholder="etsi alueelta">
    <input type="hidden" name="subforum" value="{{ subforum[1] }}">
    <input type="submit" value="Etsi">
</form>
<a href="/search"><button class="advanced_search">Haku</button></a>
{% endblock %}

{% block path %}
 / <a href="/subforum/{{ subforum[1] }}"> {{ subforum[0] }} </a> 
{% endblock %}

{% block content %}
{% if session.get('username') %}
<h3>{{ subforum[0] }}</h3> <br>
<a href="/subforum/{{ subforum[1] }}/new_topic"><button>Uusi keskustelu</button></a>
{% endif %}

{% if topics %}
<table class="topics">
    <tr class="topic-heading">
        <th style="width:65%;"> KESKUSTELUT</th>
        <th style="width:13%;"> VASTAUKSET</th>
        <th style="width:22%;"> UUSIN VIESTI</th>
    </tr>
    {% for topic in topics %}
    <tr>
        <td>
            <ul>
                <li><a href="/topic/{{ topic[1] }}">{{ topic[0]}}</a></li>
                <li> {{topic[5]}} {{topic[4].strftime("%d.%m.%Y - %H:%M")}} </li>
            </ul>
        </td>
        <td>{{topic[3]}}</td>
        <td>
            <ul>
                <li>{{topic[7]}}</li>
                <li>{{topic[6].strftime("%d.%m.%Y - %H:%M")}}</li>
            </ul>
        </td>
    </tr>
    {% endfor %}      
</table>
{% else %}
<p>Ei vielä keskusteluja </p>
{% endif %}
{% if session.get('username') %}
<a href="/subforum/{{ subforum[1] }}/new_topic"><button>Uusi keskustelu</button></a>
{% endif %}
{% endblock %}