{% extends "layout.html" %}

{% block search %}
<form action="/topic/{{ path.topic_id }}/result" method="GET">
    <input type="text" name="query" placeholder="etsi viestiketjusta">
    <input type="submit" value="Etsi">
</form>
<a href="/search"><button class="advanced_search">Haku</button></a>
{% endblock %}

{% block path %}
 / <a href="/subforum/{{ path.subforum_id }}">{{ path.subforum_name }}</a> / <a href="/topic/{{ path.topic_id }}"> {{ path.topic_name }} </a><br>
{% endblock %}

{% block content %}
<h3>{{ path.topic_name}}</h3>

<div class="messages">
    {% for message in messages %}
    <section class="message" id="{{message.topic_id}}-{{message.message_id}}">
        <div class="message-left">
            <div class="'message_sender">
                {{ message.sender }} 
            </div>
            {% if session.get('role') == 'admin' %}
            <div class="delete_message">
                <form action="/delete/topics_and_messages" method="POST">
                    <input type="hidden" name="delete_message" value="{{ message.message_id }}">
                    <input type="submit" value="delete">
                </form>
            </div>
            {% endif %}
        </div>
        <div class="message-right">
            <div class="message-header">
                {% if session.get('username')%}
                <a href="/topic/{{ path.topic_id }}#new_message"><button>Lainaa</button></a>
                {% endif %}
                <div class="message-time">
                    {{message.time.strftime("%d.%m.%Y, %H:%M")}}
                </div>
            </div>
            <hr>
            <p>
                {{ message.message }}
                {% if session.get('username') == message.sender or session.get('role') == 'admin' %}
                <span class="edit_message"><a href="/edit/message/{{ message.message_id }}">Muokkaa</a></span>
                {% endif %}
            </p>
        </div>
    </section>
    {% endfor %}
</div>
{% if session.get('username')%}
{% if messages[0].locked %}
<p>Keskustelu on lukittu.</p>
{% else %}
<div>
    Kommentoi:
    <br>
    <form action="/topic/{{ path.topic_id }}/send" method="POST" id="new_message">
        <textarea name="message", rows="15", cols="100" required="required" minlength="1" maxlength="5000"></textarea>
        <input type="hidden" name="topic_id" value="{{ path.topic_id }}">
        <br>
        <input type="submit" value="Lähetä">
    </form>
</div>
{% endif %}
{% endif %}
{% endblock %}