{% extends "layout.html" %}
{% block path %}
 / <a href="/subforum/{{ subforum[1] }}">{{ subforum[0] }}</a> / <a href="/topic/{{ topic[1] }}"> {{ topic[0] }} </a><br>
{% endblock %}

{% block content %}
<h3>{{ topic[0] }}</h3>
{% if session.get('username')%}
<a href="/topic/{{ topic[1] }}/new_message/"> <button>Uusi viesti</button></a> 
{% endif %}
<div class="messages">
    {% for message in messages %}
    <section class="message">
        <div class="message-left">
            {{ message[1]}}
        </div>
        <div class="message-right">
            <div class="message-header">
                {% if session.get('username')%}
                <a href="/topic/{{ topic[1] }}/new_message/"><button>Lainaa</button></a>
                {% endif %}
                <div class="message-time">
                    {{message[2].strftime("%d.%m.%Y, %H:%M")}}
                </div>
            </div>
            <hr>
            <p>{{ message[0] }} </p>
        </div>
    </section>
    {% endfor %}
</div>
{% if session.get('username')%}
<a href="/topic/{{ topic[1] }}/new_message/"> <button id="bottom_button">Uusi viesti</button></a>
{% endif %}
{% endblock %}